# Virtual environments
.venv/

# Python caches
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data, models and outputs
models/
results/
*.csv

# OS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env
